@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

/* * {
  font-family: "Hind";
} */

body {
  @apply bg-[#CDCCCC] dark:bg-black dark:text-blue-600;
  /* transition: background-color 2s ease-in-out; */
  overflow-x: hidden;
}


.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  /* cursor: pointer; */
  display: flex;
  /* font-family: Inter,sans-serif; */
  font-size: 16px;
  /* height: 48px; */
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -5;
}

.extra_border:after {
  background-color: greenyellow;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -5;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


/* DMSans */
@font-face {
	font-family: "DMSansBold";
	src: url("/fonts/DMSans-Bold.ttf");
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSansRegular";
  src: url("/fonts/DMSans-Medium.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "DMSansMedium";
	src: url("/fonts/DMSans-Medium.ttf");
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}

/* mavin */
@font-face {
	font-family: "mavinBold";
	src: url("/fonts/MavenPro-Bold.ttf");
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "mavinRegular";
	src: url("/fonts/MavenPro-Regular.ttf");
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}


/* open sans */
@font-face {
	font-family: "OpenSansLight";
	src: url("/fonts/OpenSans-Light.ttf");
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "OpenSansMedium";
	src: url("/fonts/OpenSans-Medium.ttf");
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("/fonts/OpenSans-Regular.ttf");
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

/*  Panchang fonts*/
@font-face {
	font-family: "PanchangRegular";
	src: url("/fonts/Panchang-Regular.ttf");
  font-weight: 400;
  /* font-display: swap; */
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "PanchangSemibold";
	src: url("/fonts/Panchang-Semibold.ttf");
  font-weight: 600;
  /* font-display: swap; */
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "PanchangExtrabold";
	src: url("/fonts/Panchang-Extrabold.ttf");
  font-weight: 800;
  /* font-display: swap; */
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "PanchangBold";
	src: url("/fonts/Panchang-Bold.ttf");
  font-weight: 800;
  /* font-display: swap; */
  font-style: normal;
  font-display: swap;
}

/* Satoshi-Variable */
@font-face {
	font-family: "SatoshiVariable";
	src: url("/fonts/Satoshi-Variable.ttf");
  font-weight: 800;
  /* font-display: swap; */
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "SatoshiVariableItalic";
	src: url("/fonts/Satoshi-VariableItalic.ttf");
  font-weight: 800;
  /* font-display: swap; */
  font-style: normal;
  font-display: swap;
}
/*  */
